/* Turquoise */
/* Green Sea */
/* Emerald */
/* Nephritis */
/* Peter River */
/* Belize Hole */
/* Amethyst */
/* Wisteria */
/* Wet Asphalt */
/* Midnight Blue */
/* Sunflower */
/* Orange */
/* Carrot */
/* Pumpkin */
/* Alizarin */
/* Pomegranate */
/* Clouds */
/* Silver */
/* Concrete */
/* Asbestos */
* {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
