body {
}
nav.Title
{
    background-color:aqua;
    width: 50%;
    float:left;
    color: black;
    padding-top:5px;
}
aside#side1
{
    background-color:orange;
    width: 30%;
    float: right;
}
aside#side2 {
    background-color: green;
    width: 0%;
    float: right;
    padding-top:6%;
}
div#mainBody
{
    padding-top: 20px;
    background-color:blueviolet;
    width: 70%;
}

 nav.Menu {
        background-color: orangered;
        width: 50%;
        float: right;
    }
nav.Menu title
{
    color:white;
}
ul.level1
{
  font-size: 15px;
  font-weight: bold;
  height: 100%;
  line-height: 56px;
  background-color: gray;
 
 
}
ul.level1 ul.level2.selected
{
    background-color: lightgray;
}

a.level1
{
    padding-left: 3vw !important;
    padding-right:6.1vw !important;
    border:solid;
    border-color:black;
    border-width:1px;

}
a.level2
{
    background-color:gray;
    width:12vw;
}
a.level1:hover, a.level2:hover
{
    background-color:lightgray;
}
a
{
    color:white;
    text-decoration:none;
}
body > footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
}
